@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #db0202;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fda902;
    border-radius: 10px;
}


body {
    transition: all .5s ease;
    font-family: "Poppins";
    background-color: #7f6b1b;
}

.cartHover {
    background-color: #c50303;
    color: white;
    font-family: "Agbalumo";
    letter-spacing: 1px;
}

.cartHover:hover {
    background-color: #ffcb04;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.nav-item a{
    text-decoration: none;
}
.heading h1 {
    color: #c50303;
    letter-spacing: 1px;
    text-decoration: none;
}

/* cart detail section */

.product-image {
    max-height: 400px;
    object-fit: cover;
    background-color: #d8fdd2;
  }
  .thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  .thumbnail:hover, .thumbnail.active {
    opacity: 1;
  }

  

.footer a {
    color: black;
}

.footer a:hover {
    color: rgb(255, 204, 0);
}
